<div class="flex h-screen justify-center">
     <form (ngSubmit)="submit()" #myform="ngForm" class="p-4 rounded-lg border m-auto w-1/3">
      <h1 class="text-center text-xl">Login</h1>
      <div class="my-5 w-full">
        <label for="email">Email</label>
        <input type="email" id="email" class="p-2 rounded w-full border" placeholder="Enter Your Email" [(ngModel)]="form.email" name ="email" #email="ngModel" required>
      </div>
      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-2 bg-red-300 text-red-800 rounded">Email must be valid</div>

      <div class="my-5 w-full">
        <label for="password">Password</label>
        <input type="password" id="password" class="p-2 rounded w-full border" placeholder="Password" [(ngModel)]="form.password" name ="password" #password="ngModel" required>
      </div>
      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="p-2 bg-red-300 text-red-800 rounded">Password must be valid</div>
      <div class="my-5 w-full">
        <input type="submit" [disabled]="myform.form.invalid" class="p-2 bg-purple-700 hover:bg-purple-900 w-full text-white rounded">
      </div>
     </form>
</div>
